SUBSYSTEM=="video4linux", ENV{ID_PATH}=="platform-xhci-hcd.0.auto-usb-0:1:1.0", ENV{ID_PATH}="platform-xhci-hcd.1.auto-usb-0:1:1.0", ENV{ID_PATH_TAG}="platform-xhci-hcd_1_auto-usb-0_1_1_0", ENV{ID_PATH_WITH_USB_REVISION}="platform-xhci-hcd.1.auto-usbv2-0:1:1.0", SYMLINK+="v4l/by-path/platform-xhci-hcd.1.auto-usb-0:1:1.0-video-index$attr{index}", RUN+="/bin/rm -f /dev/v4l/by-path/platform-xhci-hcd.0.auto-usb-0:1:1.0-video-index$attr{index} /dev/v4l/by-path/platform-xhci-hcd.0.auto-usbv2-0:1:1.0-video-index$attr{index}"
